<nav class="navbar navbar-default">
    <!-- <div class="container-fluid"> -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">CRM SYSTEM</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="agent" routerLinkActive="active">Home</a></li>
        <li><a routerLink="dlagent" routerLinkActive="active">DL Agent</a></li>
        <li><a routerLink="hzagent" routerLinkActive="active">HZ Agent</a></li>
        <li><a routerLink="shagent" routerLinkActive="active">SH Agent</a></li>
      </ul>
    <!-- </div> -->
  </nav>


<!-- <ul class="nav nav-tabs">
    <li role="presentation" ><a routerLink="/addCuser" >Add CRM USER</a></li>
    <li role="presentation" ><a routerLink="/addAuser"> ADD AGENT USER</a></li>
    <li role="presentation" ><a routerLink="#">Messages</a></li>
  </ul> -->