<!-- <div style="text-align:center" *ngIf="cardsVisibility.login">
    <app-login (onLogin)="login($event)" [IframeState]="agentState"></app-login>
  </div>
<div calss="container-fluid" [hidden]="cardsVisibility.login">
  <app-top-menu></app-top-menu>
  <div class="row">
    <div class="col-md-2">
        <app-left-nav></app-left-nav>
    </div>
    <div class="col-md-7">
      <app-workspace></app-workspace>
    </div>
    <div class="col-md-3"> -->
      <!-- <div [hidden]="cardsVisibility.isLogin"> -->
          <!-- <div *ngIf="false">
        <app-connector></app-connector>
      </div>
    </div>
  </div> -->

  


  <!-- <div class="panel-primary">
    <app-top-menu></app-top-menu>

    <div class="panel-body">
      <app-add-crm-user></app-add-crm-user>
      <app-add-agent-userr></app-add-agent-userr>

     <router-outlet></router-outlet> -->
<!-- </div> -->

<router-outlet></router-outlet>

